.projectTag {
  margin-left: 32px;
  padding: 16px;
  font-size: 24px;
  color: var(--bg-color);
  border-radius: 25px;
}

.electron {
  background-color: #74cb6c;
}

.react {
  background-color: #61dafb;
}

.javascript {
  background-color: #f7e018;
}

.html {
  background-color: #eb5a25;
}

.css {
  background-color: #264de4;
}

.csharp {
  background-color: #690081;
}

.figma {
  background: linear-gradient(276.79deg, #a259ff 0%, #0acf83 94.62%);
}

.unity {
  background: linear-gradient(276.79deg, #ff0000 0%, #7cfc00 94.62%);
}
